@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    
    .hover {
        color:#3f72ae;
        padding-bottom: 12px;
        border-bottom: 3px solid rgb(20, 20, 21);
    }
  .up{
    transform: translateY(-10%);
    transition: transform 0.3s;
  }

  .hide{
    visibility: hidden;
  }

  .belowMd{
    flex-direction:column;
    position: absolute;
    top: 2.8vh;
    right: 1.5vw;
    background-color: #ffffff;
    padding:6vh 8vw 2vh 8vw;
  }

  .aboutBG{
    background-color: #f6f6f6;
    background: linear-gradient(rgba(7, 146, 210, 0.556), rgba(44, 155, 180, 0.819)), url('/about.jpg') no-repeat center center;
  }
.aboutContainer{
  border: 1px solid rgba(221, 228, 232, 0.747);
}

  .skillBG{
    background-color: #f6f6f6;
    background: linear-gradient(rgba(221, 228, 232, 0.747), rgba(167, 183, 187, 0.686)), url('/skill.jpg') no-repeat center center;
  }
  .educationBG{
    background-color: #f6f6f6;
    background:url('/education.jpg') no-repeat center right;
  }
  
  
}